{% extends 'base.html.twig' %}

{% block title %}MenuCategories index{% endblock %}

{% block body %}


<main id="main-menu-categories-index">


    <h1>Menu Categories</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_category in menu_categories %}
            <tr>
                <td>{{ menu_category.id }}</td>
                <td>{{ menu_category.name }}</td>
                <td>{{ menu_category.createdAt ? menu_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_menu_categories_show', {'id': menu_category.id}) }}">show</a>
                    <a href="{{ path('app_menu_categories_edit', {'id': menu_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_menu_categories_new') }}" class="btn btn-outline-primary">Create new category</a>
</main>


{% endblock %}
